@model Ogrenci

<h1>Öğrenci Detay</h1>

<div class="ogrenci">
    <label>Öğrenci Numarası: @Model.Id </label>
    <h2>@Model.Ad</h2>
    <h4>Sınıfı: @Model.Sinif </h4>
    <br />
    <label>Yaşı: @Model.Yas </label>
    <br>
    <label>Aktif: @Model.Aktif </label>

</div>