@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<h1>Bugünün tarihi: @ViewBag.Tarih </h1>
<h1>Yılbaşına kalan gün: @ViewBag.GeriSayim.TotalDays </h1>
<h1>Yılbaşına kalan saat: @ViewBag.GeriSayimSaat </h1>
<h1>Yılbaşına kalan dakika: @ViewBag.GerisayimDk </h1>