@{

    ViewData["Title"] = "Privacy Policy";

    ViewData["Yas"] = 22;
    


}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h2>Yaş: @ViewData["Yas"]</h2>

<h1>Bugünün tarihi: @ViewBag.Tarih </h1>
<h1>Yılbaşına kalan gün: @ViewBag.GeriSayim </h1>
<h1>Yılbaşına kalan saat: @ViewBag.GeriSayimSaat </h1>
<h1>Yılbaşına kalan dakika: @ViewBag.GerisayimDk </h1>


<div class="geri-sayim">
     <h1>@ViewBag.GeriSayim</h1>
     <label>Gün</label>

     <h1>@ViewBag.GeriSayimSaat</h1>
     <label>Saat</label>

     <h1>@ViewBag.GerisayimDk</h1>
     <label>Dakika</label>
</div>