@model RentaCarMVC.Models.Arac

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Arac</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vites)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vites)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GunlukKira)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GunlukKira)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kilometre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kilometre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hazir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hazir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GorselUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GorselUrl)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AracId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
