@model Arac

@{
    ViewData["Title"] = "Details";
}

<h1>Detaylar</h1>

<div>
    <h4>Arac</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Marka
        </dt>
        <dd class = "col-sm-10">
            @Model.Marka
        </dd>
        <dt class = "col-sm-2">
            Model
        </dt>
        <dd class = "col-sm-10">
            @Model.Model
        </dd>
        <dt class = "col-sm-2">
            Yıl
        </dt>
        <dd class = "col-sm-10">
            @Model.Yil
           
        </dd>
        <dt class = "col-sm-2">
            Vites
        </dt>
        <dd class = "col-sm-10">
            @if(Model.Vites){
                <p>Otomatik</p>
            }
            else
            {
                <p>Manuel</p>
            }
            
            
        </dd>
        <dt class = "col-sm-2">
            Günlük Kiralama Ücreti
        </dt>
        <dd class = "col-sm-10">
            @Model.GunlukKira
        </dd>
        <dt class = "col-sm-2">
            Kilometre
        </dt>
        <dd class = "col-sm-10">
            @Model.Kilometre
        </dd>
        <dt class = "col-sm-2">
            Kiralamaya Uygun
        </dt>
        <dd class = "col-sm-10">
           

            @if(Model.Hazir)
            {
                <p>Uygun</p>
            }
            else
            {
                <p>Uygun değildir.</p>
            }

        </dd>
      
    </dl>
    <img width="400" src="@Model.GorselUrl" />
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.AracId">Düzenle</a> |
    <a class="btn btn-primary" asp-action="Index">Geri Dön</a>
</div>
